{
  "hooks": {
    "pre-commit": "concurrently --raw --kill-others-on-fail lint-staged yarn:test:types",
    "pre-push": "concurrently --raw --kill-others-on-fail yarn:code-format:validate yarn:test",
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS"
  }
}